.mainContainer{
    /* background-color: orange; */
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 90px 1fr 300px;
}

.centerContainer{
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    justify-content: start;
    align-items: start;
}

.rightContainer{
    overflow-y: auto;
}

.contentArea {
    padding: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: auto;
    gap: 16px;
}